.sidebar
    .logo-area.text-center Elzero
    ul.links-area.list-unstyled
        li: a(href="homepage.html" class= pageTitle === 'Home-Page' ? 'active' : '') HomePage
        li 
            a.toggle-submenu(href="#") 
                | Forms
                i.fas.fa-angle-right
            ul.child-links.list-unstyled
                li: a(href="#") Input 
                li: a(href="#") Textarea
                li: a(href="#") Checkbox
                li: a(href="#") Input
                li 
            a.toggle-submenu(href="#") 
                | Misc 
                i.fas.fa-angle-right
            ul.child-links.list-unstyled
                li: a(href="#") Loading 
                li: a(href="#") Breadcrumbs
        li: a(href="charts.html" class= pageTitle === 'Charts-Page' ? 'active' : '') Charts Page
