.header {
  background: #fff;
  padding: 20px;
  .header-icon {
    background: #eae9e9;
    padding: 10px;
    border-radius: 50%;
    color: #555;
    cursor: pointer;
    margin-left: 10px;
    transition: 0.4s;
    &:hover {
      background: #292c33;
      color: #fff;
    }
  }
  .toggle-sidebar {
    cursor: pointer;
  }
  .notifications-container {
    display: inline-block;
    margin-left: 20px;
    .dropdown-menu {
      min-width: 600px;
      border: none;
      box-shadow: 0 0 10px #ddd;
      padding-top: 0;
      top: 10px !important;
      &:before {
        content: "";
        position: absolute;
        top: -20px;
        left: 9px;
        border-style: solid;
        border-width: 10px;
        border-color: transparent transparent #333 transparent;
      }
      .noti-head {
        background: #333;
        padding: 15px;
        color: #fff;
        span {
          float: right;
        }
      }
      .noti-content {
        padding: 20px;
        ul {
          margin: 0;
          li {
            padding: 10px;
            i {
              background: #eee;
              padding: 10px;
              border-radius: 50%;
              width: 45px;
              height: 45px;
              line-height: 22px;
              text-align: center;
              margin-right: 10px;
              position: relative;
              top: -2px;
            }
          }
        }
      }
      .noti-foot {
        a {
          display: block;
          padding: 10px;
          border-top: 1px solid #eee;
          &:hover {
            text-decoration: none;
          }
        }
      }
    }
  }
  .usermenu-container {
    float: right;
    .username {
      cursor: pointer;
      .avatar {
        width: 40px;
        height: 40px;
      }
      .user {
        font-weight: bold;
        color: #777;
        margin-right: 10px;
        margin-left: 10px;
      }
    }
    .dropdown-menu {
      min-width: 600px;
      border: 1px solid #ddd;
      box-shadow: 0 0 10px #ddd;
      padding: 20px;
      top: 10px !important;
      &:before {
        content: "";
        position: absolute;
        top: -20px;
        right: 40px;
        border-style: solid;
        border-width: 10px;
        border-color: transparent transparent #ddd transparent;
      }
      .user-info {
        h3 {
          font-weight: bold;
        }
        p {
          color: #888;
        }
      }
      .avtivities-list {
        li {
          padding: 10px;
        }
      }
      .usermenu-links {
        .link-box {
          background: #eee;
          padding: 10px 15px;
          border-radius: 6px;
          text-align: right;
          margin-right: 20px;
          i {
            float: left;
            position: relative;
            top: 5px;
            &.fa-cog {
              color: #2980b9;
            }
            &.fa-user {
              color: #16a085;
            }
            &.fa-power-off {
              color: #c0392b;
            }
          }
        }
      }
    }
  }
}
