$themes: (
  green-theme: (
    color: #27ae60,
  ),
  blue-theme: (
    color: #2980b9,
  ),
  red-theme: (
    #c0392b,
  ),
  orange-theme: (
    #d35400,
  ),
);

@each $themes, $map in $themes {
  .#{$themes} {
    .classname {
      color: map-get($map, color);
    }
  }
}
