.setting-box.hide-setting 
    .toggle-settings
        i.fas.fa-cog.fa-lg
    .setting-content
        .option-box
            h4 Color Option
        .option-box
            h4 Fonts option
        .option-box
            h4 Sidebar option
